@use './colors' as *;

.body {
  min-height: 100vh;
  background-color: $bg_app;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 100vh;
  background-color: $bg_app;
}
